<div class="mt-4">
    <div>
        <a href="/me/stored/courses">Course list</a>
        <h3>Trash courses</h3>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Course name</th>
                <th scope="col">Descrtiption</th>
                <th scope="col">Create time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.slug}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="" class="btn btn-link btnRestore" id="restoreCourse" data-id="{{this._id}}">Recovery</a>
                    <a href="" class="btn btn-link " data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}">Permanently delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center"> 
                    Trash is null!! 
                     <a href="me/stored/courses">Back to list</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



{{!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#delete-course-modal">
  Launch demo modal
</button> --}}

{{!-- Confirm delete modal --}}
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete confirm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you trully want to permanently delete?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="btnDeleteCourse" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hiddent form --}}
<form name="deleteCourseForm" method="POST""></form>
<form name="restoreCourseForm" method="POST""></form>

<script>
    //{{!--because we use "$", it mean Jquery, it has error show on console dev tool. so we use document.addeventlister for load all js,jquery code done -> run this code. --}}
    document.addEventListener('DOMContentLoaded', function(){
        var courseId;
        var btnDeleteCourse = document.getElementById ('btnDeleteCourse');
        //var restoreCourse = document.getElementById ('restoreCourse');
        var deleteForm = document.forms['deleteCourseForm'];
        var estoreForm = document.forms['restoreCourseForm'];

        //{{!-- Soft delete用 --}}
        var btnRestore = $('.btnRestore')   //{{!-- lấy ra được all cái btnRestore--}}

        $('#delete-course-modal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        courseId = button.data('id') // Extract info from data-* attributes
        })

        //Permanently delete
        btnDeleteCourse.onclick = function(){
            deleteForm.action = '/courses/' + courseId + '/force'+ '?_method=DELETE';
            deleteForm.submit()
        }

        //{{!-- Restore btn clicked --}}
        btnRestore.click(function (e){
          e.preventDefault();
          var courseId = $(this).data('id')
        console.log(courseId)

          estoreForm.action = '/courses/' + courseId + '/restore' +'?_method=PATCH';
          estoreForm.submit()
        })
        
    })
</script>